<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.rnvideoplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="true"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:screenOrientation="fullSensor"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data
            android:name="BITMOVIN_PLAYER_LICENSE_KEY"
            android:value="d7367084-3a7b-4df6-8065-5f6e9d844eca" />
        <meta-data android:name="BITMOVIN_PLAYER_CSS" android:value="file:///android_asset/bitmovin-ui.css"/>
        <meta-data android:name="BITMOVIN_PLAYER_JS" android:value="file:///android_asset/bitmovin-ui.js"/>
    </application>

</manifest>
